@font-face {
  font-family: 'Mincho';
  src: url('./fonts/mincho.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Patrick';
  src: url('./fonts/patrick.ttf');
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2rem;
}

@theme {
  --font-mincho: Mincho, sans-serif;
  --font-patrick: Patrick, sans-serif;
}
